# Import
`Ctrl + Enter` : 현재 셀 실행<br>
`Shift + Enter` : 현재 셀 실행 후 다음 셀로 이동<br>
`Alt + Enter` : 현재 셀 실행 후 아래에 새 셀 삽입<br>

In [11]:
import pandas as pd
import numpy as np

# Pandas Schema & Code

In [26]:
data = [[1, 8000, 'Jan'], [2, 9000, 'Jan'], [3, 10000, 'Feb'], [1, 7000, 'Feb'], [1, 6000, 'Mar']]
department = pd.DataFrame(data, columns=['id', 'revenue', 'month']).astype({'id':'Int64', 'revenue':'Int64', 'month':'object'})

In [ ]:
col_order = ["id", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
col_rename = {
    "id": "id",
    "Jan": "revenue_jan", "Feb": "revenue_feb", "Mar": "revenue_mar",
    "Apr": "revenue_apr", "May": "revenue_may", "Jun": "revenue_jun",
    "Jul": "revenue_jul", "Aug": "revenue_aug", "Sep": "revenue_sep",
    "Oct": "revenue_oct", "Nov": "revenue_nov", "Dec": "revenue_dec",
}

df = department.pivot(index='id', columns='month', values="revenue").reset_index()
df.columns.name = None
# x = df.reindex(columns=month_order).rename(columns=month_rename)
df

   id    Feb   Jan   Mar
0   1   7000  8000  6000
1   2   <NA>  9000  <NA>
2   3  10000  <NA>  <NA>