# Import
`Ctrl + Enter` : 현재 셀 실행<br>
`Shift + Enter` : 현재 셀 실행 후 다음 셀로 이동<br>
`Alt + Enter` : 현재 셀 실행 후 아래에 새 셀 삽입<br>

In [27]:
import pandas as pd
import numpy as np

# Pandas Schema & Code

In [28]:
data = [[1, 1], [1, 2], [1, 3], [2, 1], [2, 4]]
project = pd.DataFrame(data, columns=['project_id', 'employee_id']).astype({'project_id':'Int64', 'employee_id':'Int64'})
data = [[1, 'Khaled', 3], [2, 'Ali', 2], [3, 'John', 1], [4, 'Doe', 2]]
employee = pd.DataFrame(data, columns=['employee_id', 'name', 'experience_years']).astype({'employee_id':'Int64', 'name':'object', 'experience_years':'Int64'})

In [ ]:
merged = project.merge(employee, on='employee_id')
grouped = merged.groupby('project_id', as_index=False)['experience_years'].mean().rename(columns={'experience_years': 'average_years'})
grouped

   project_id  employee_id    name  experience_years
0           1            1  Khaled                 3
1           1            2     Ali                 2
2           1            3    John                 1
3           2            1  Khaled                 3
4           2            4     Doe                 2

   project_id  average_years
0           1            2.0
1           2            2.5