# Import
`Ctrl + Enter` : 현재 셀 실행<br>
`Shift + Enter` : 현재 셀 실행 후 다음 셀로 이동<br>
`Alt + Enter` : 현재 셀 실행 후 아래에 새 셀 삽입<br>

In [1]:
import pandas as pd
import numpy as np

# Pandas Schema & Code

In [2]:
data = [[1, 'Alice'], [2, 'Bob'], [13, 'John'], [6, 'Alex']]
students = pd.DataFrame(data, columns=['student_id', 'student_name']).astype({'student_id':'Int64', 'student_name':'object'})
data = [['Math'], ['Physics'], ['Programming']]
subjects = pd.DataFrame(data, columns=['subject_name']).astype({'subject_name':'object'})
data = [[1, 'Math'], [1, 'Physics'], [1, 'Programming'], [2, 'Programming'], [1, 'Physics'], [1, 'Math'], [13, 'Math'], [13, 'Programming'], [13, 'Physics'], [2, 'Math'], [1, 'Math']]
examinations = pd.DataFrame(data, columns=['student_id', 'subject_name']).astype({'student_id':'Int64', 'subject_name':'object'})

In [67]:
# 모든 학생-과목 조합 생성
student_subject = students.merge(subjects, how='cross')

# 시험 참가 기록 카운트
exam_attend = examinations.assign(attended=1)

# left join
student_exam = student_subject.merge(exam_attend, on=['student_id', 'subject_name'], how='left')

# 그룹핑 + 카운트
count_attend = (student_exam
    .groupby(['student_id', 'student_name', 'subject_name'], dropna=False)['attended']
    .count()
    .reset_index(name='attended_exams')
)
count_attend

    student_id student_name subject_name  attended_exams
0            1        Alice         Math               3
1            1        Alice      Physics               2
2            1        Alice  Programming               1
3            2          Bob         Math               1
4            2          Bob      Physics               0
5            2          Bob  Programming               1
6            6         Alex         Math               0
7            6         Alex      Physics               0
8            6         Alex  Programming               0
9           13         John         Math               1
10          13         John      Physics               1
11          13         John  Programming               1