# Import
`Ctrl + Enter` : 현재 셀 실행<br>
`Shift + Enter` : 현재 셀 실행 후 다음 셀로 이동<br>
`Alt + Enter` : 현재 셀 실행 후 아래에 새 셀 삽입<br>

In [1]:
import pandas as pd
import numpy as np

# Pandas Schema & Code

In [40]:
data = [[1, '2019-02-17', '2019-02-28', 5], [1, '2019-03-01', '2019-03-22', 20], [2, '2019-02-01', '2019-02-20', 15], [2, '2019-02-21', '2019-03-31', 30]]
prices = pd.DataFrame(data, columns=['product_id', 'start_date', 'end_date', 'price']).astype({'product_id':'Int64', 'start_date':'datetime64[ns]', 'end_date':'datetime64[ns]', 'price':'Int64'})
# data = [[1, '2019-02-25', 100], [1, '2019-03-01', 15], [2, '2019-02-10', 200], [2, '2019-03-22', 30]]
data = []
units_sold = pd.DataFrame(data, columns=['product_id', 'purchase_date', 'units']).astype({'product_id':'Int64', 'purchase_date':'datetime64[ns]', 'units':'Int64'})

In [ ]:
# 테이블 join
df = prices.merge(units_sold, on='product_id', how='left')

# purchase_date가 실제 판매기간에 속하는 행만 필터링
df = df.loc[ (df.purchase_date >= df.start_date) & (df.purchase_date <= df.end_date) ]

# 해당 일자의 총 판매 액수 계산
df['total_price'] = df.price * df.units

# id 기준으로 그룹으로 묶은 뒤 average_price 계산을 위한 값 계산
avg = (
    df.groupby('product_id')
      .agg(total_revenue=('total_price', 'sum'), total_units=('units', 'sum'))
)

# average_price 계산
avg['average_price'] = ( avg['total_revenue'] / avg['total_units'] ).round(2)

# 
result = (
    avg[['average_price']].reindex(prices['product_id'].unique()).fillna(0).reset_index()
)

result

   product_id  average_price
0           1            0.0
1           2            0.0